<!doctype html>
<html lang="es">
{% load static %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block head_content %}
    {% endblock %}
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.87c0748b313a1dda75f5.css' %}" />

</head>

<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    {% include "contents/header.html" %}
        <div class="app-main">
            <div class="app-sidebar sidebar-shadow">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                                data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button"
                            class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>
                {% include "contents/sidebar.html" %}
            </div>
            <div class="app-main__outer">
                <div class="app-main__inner">
                    {% block app-main__inner %}
                    {% endblock%}
                </div>
            </div>
        </div>
        <!-- Here is just the lower elements of the page -->
        {% include "contents/footer.html" %}
        <!-- Here is just the end of the page -->
    </div>
    <div class="app-drawer-overlay d-none animated fadeIn"></div>
    {% load static %}
    <script type="text/javascript" src="{% static 'js/main.87c0748b313a1dda75f5.js' %}"></script>
</body>

</html>