{% extends "contents/base.html" %}
{% block head_content %}
<title>Create content</title>
{% endblock %}
{% block app-main__inner %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="lnr-picture text-danger">
                </i>
            </div>
            <div>
                Create content
                <div class="page-title-subheading">Write here everything you want to show the world.
                </div>
            </div>
        </div>
        <div class="page-title-actions">
            <a href="{% url 'users:content-list' %}"><button class="btn btn-danger btn-lg">Back</button></a>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">Text info</h5>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="position-relative row form-group">
                <label class="col-sm-2 col-form-label">{{ form.title.label }}</label>
                <div class="col-sm-10">
                    {{form.title}}
                </div>
            </div>
            <hr>
            <div class="position-relative row form-group">
                <label class="col-sm-2 col-form-label">{{ form.slug_name.label }}</label>
                <div class="col-sm-10">
                    {{ form.slug_name }}
                </div>
            </div>
            <hr>
            <div class="position-relative row form-group">
                <label class="col-sm-2 col-form-label">{{form.url.label}}</label>
                <div class="col-sm-10">
                    {{form.url}}
                </div>
            </div>
            <hr>
            <div class="position-relative row form-group">
                <label class="col-sm-2 col-form-label">{{form.html_content.label}}</label>
                <div class="col-sm-10">
                    {{form.html_content}}
                    <div id="cke_editor" class="cke_1 cke cke_reset cke_chrome cke_editor_editor cke_ltr cke_browser_gecko" dir="ltr" role="application" aria-labelledby="cke_editor_arialbl" lang="en">
                        <span id="cke_editor_arialbl" class="cke_voice_label">Rich Text Editor, editor</span>
                        <div class="cke_inner cke_reset" role="presentation" style="">
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>
            <script>CKEDITOR.replace('html_content');</script>
            <hr>
            <div class="row form-group">
                <label for="" class="col-sm-2 form-group">
                    {{form.audio_file.label}}
                </label>
                <div class="col-sm-10">
                    {{form.audio_file}}
                </div>
            </div>
            <hr>
            <div class="position-relative row form-group">
                <label class="col-sm-2 col-form-label">{{form.blog.label}}</label>
                <div class="col-sm-10">
                    {{form.blog}}
                </div>
            </div>
            <hr>
            <div class="position-relative row form-group">
                <label class="col-sm-2 col-form-label">{{form.module.label}}</label>
                <div class="col-sm-10">
                    {{form.module}}
                </div>
            </div>
            <hr>
            <div class="form-row field-english_content">
                <div class="checkbox-row">
                    {{form.subtitled.label}}
                    {{form.subtitled}}
                </div>
            </div>
            <hr>
            <div class="form-row field-english_content">
                <div class="checkbox-row">
                    {{form.skip.label}}
                    {{form.skip}}
                </div>
            </div>
            <hr>
            <div class="position-relative row form-group">
                <label class="col-sm-2 col-form-label">{{form.copy.label}}</label>
                <div class="col-sm-10">
                    {{form.copy}}
                    <div id="cke_editor" class="cke_1 cke cke_reset cke_chrome cke_editor_editor cke_ltr cke_browser_gecko" dir="ltr" role="application" aria-labelledby="cke_editor_arialbl" lang="en">
                        <span id="cke_editor_arialbl" class="cke_voice_label">Rich Text Editor, editor</span>
                        <div class="cke_inner cke_reset" role="presentation" style="">
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>
            <script>CKEDITOR.replace('copy');</script>
            <hr>
            <div class="position-relative row form-group">
                <label class="col-sm-2 col-form-label">{{form.footer.label}}</label>
                <div class="col-sm-10">
                    {{form.footer}}
                    <div id="cke_editor" class="cke_1 cke cke_reset cke_chrome cke_editor_editor cke_ltr cke_browser_gecko" dir="ltr" role="application" aria-labelledby="cke_editor_arialbl" lang="en">
                        <span id="cke_editor_arialbl" class="cke_voice_label">Rich Text Editor, editor</span>
                        <div class="cke_inner cke_reset" role="presentation" style="">
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>
            <script>CKEDITOR.replace('footer');</script>
            <hr>
            <div class="row form-group">
                <label for="" class="col-sm-2 form-group">{{form.creation_date.label}}</label>
                <div  class="col-sm-10">
                    {{form.creation_date}}
                    <div class="auto" id="auto" style="visibility: hidden">
                        Oculta
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary datepicker-trigger-btn" type="button">Open Datepicker</button>
                    </div>
                </div>
            </div>
            <div class="position-relative row form-check">
                <div class="col-sm-10 offset-sm-2">
                    <input class="btn btn-success btn-lg" type="submit" value="Save">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}